<div class="row">
    <h1>EDUCACION</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Estudio uno</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi ullam, similique itaque voluptate numquam dolore dolores omnis magnam voluptas. Consequuntur cupiditate quasi excepturi aut recusandae. Saepe, laudantium. Asperiores, ducimus autem.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Estudio dos</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi ullam, similique itaque voluptate numquam dolore dolores omnis magnam voluptas. Consequuntur cupiditate quasi excepturi aut recusandae. Saepe, laudantium. Asperiores, ducimus autem.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Estudio tres</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi ullam, similique itaque voluptate numquam dolore dolores omnis magnam voluptas. Consequuntur cupiditate quasi excepturi aut recusandae. Saepe, laudantium. Asperiores, ducimus autem.
            </p>
        </ul>
    </div>
</div>


