<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>porfolio</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, molestias. Explicabo minus dicta doloremque in eligendi. Eum deserunt, cupiditate rem quidem placeat fugit quae dolore vitae odit reiciendis possimus non.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 ofset-lg-1 parte2">
            <img src="../../../assets/proyecto.jpg" class="img-fluid img-proyecto"></div>
    </div>
</div>