<div class="row">
<div class="container">

    <div class="logo">
        <img src="../../../assets/logoargentinaprog.png" id="logoap">
    </div>

    <div class="redes">
            <a href="https://www.facebook.com/rokezalazar"><img src="../../../assets/facebock.png" id="facebock"></a>
            <a href="https://www.instagram.com/rokozal/"><img src="../../../assets/instagram.png" id="instagram"></a>
            <a href="https://github.com/rokezalazar"><img src="../../../assets/github.png" id="github"></a>
            <a href="https://www.linkedin.com/in/roke-zal-7a1502261/"><img src="../../../assets/linkedin.png" id="linkedin"></a>
            <button type="button" class="btn btn-outline-light">REGISTRESE</button>
        </div>
</div>
</div>


