<div class="row">
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"> 
    <img src="../../../assets/fotodeperfil.jpg" 
    class="img-fluid" id="fotodeperfil">
</div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre"> ZALAZAR RAMON ROQUE el mejor</p>
    <P id="descri">FULL STACK DEVELOPER JUNIOR</P>
</div>
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis repellat molestias officiis dolorum, minus blanditiis perferendis magni odio assumenda consectetur veritatis nulla veniam? Sequi totam laboriosam aspernatur id velit qui!</h1>
    </span>
</div>
</div>



